.forecast {
  padding: 1rem;
  color: var(--button-text);
}

.forecast h3 {
  font-size: 1.5rem;
  /* margin: 1rem; */
  /* padding: 1.5rem; */
  color: var(--card-color);
}

.forecastGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1.5rem;
}

.forecastCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--card-color);
  color: var(--button-text);
  border-radius: 2rem;
  text-align: center;
  min-width: 150px;
  box-shadow: 0 2px 4px var(--shadow);
}

.forecastCard img {
  width: 100px;
  height: 100px;
}

.forecastCard p {
  margin: 1rem;
  font-size: 1.5rem;
}

.message {
  margin: 2rem;
  font-size: 1.2rem;
  color: var(--text-color);
}
