.searchResults {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.resultCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--card-color);
  color: var(--text-color);
  border-radius: 1rem;
}

.resultInfo {
  display: flex;
  gap: 4rem;
}

.resultCard button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.resultCard button:hover {
  background-color: var(--secondary-color);
}
