.searchBar {
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
}

.searchBar form {
  display: flex;
  border-radius: 2rem;
  align-items: center;
  gap: 1rem;
}

.searchBar input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  outline: none;
}

.searchBar button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.searchBar button:hover {
  background-color: var(--secondary-color);
}
