:root {
  --primary-color: #1f1f4e;
  --secondary-color: #9e9ee1;
  --text-color: #ffffff;
  --card-color: #6a6ab3;
  --button-text: #000;
  --remove: #f60606f9;
  --shadow: rgba(0, 0, 0, 0.2);
  --card-text: #000;
  --border: 0.5rem solid#ddbc18;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #9e9ee1;
    --secondary-color: #141432;
    --text-color: #ffffff;
    --card-color: #e8e8f8;
    --button-text: #000;
  }
}
